
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', 'Helvetica Neue', sans-serif, sans-serif;
}
p{
    font-weight: 300;
    color: #111;
}
#nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 38px 0px;
    z-index: 10000;
    background: #46344E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.imglogo{
    height: 100%;
    padding-left: 50px;
}
#logo{
    padding: 4px;
    flex: 5%;
    height: 46px;
}
#navigation{
    flex: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    margin-left: 2.5px;
    text-decoration: none;
    letter-spacing: 1.8px;
    padding-top: 3px;
}
#nav.sticky .logo{
    color: #fff;
}
#nav .logo span{
    color: #FAED26;
    align-items: center;
}
#nav .navigation, .logo{
    position: relative;
    display: flex;
}
#nav .navigation li{
    list-style: none;
    margin-right: 45px;
    font-size: medium;
    letter-spacing: 0.5px;
    color: #fff;
    cursor: pointer;
    padding-top: 12px;
}
#nav.sticky .navigation li{
    color: #111;
}
#nav .navigation li a {
    text-decoration: none;
    font-weight: 300;
}
#nav .navigation li:hover{
    color: #FAED26;
}
/* .layer{
    background: #111;
    opacity: 0.7;
    height: 590px;
    width: 100%;
} */
.banner{
    position: relative;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/lib.png);
    background-size: cover;
    border-top: 2px solid #fff;
}
.banner .content{
    height: 590px;
    width: auto;
    text-align: center;
    /* padding-top: 100px; */
    /* max-width: 900px; */
}
.banner .content h2{
    font-family: 'calibri' !important;
    margin-left: 15em;
    padding-top: 12em;
    font-size: 2em;
    color: #fff;
}
/* .banner .content .pbanner{
    margin-left: 31em;
    /* padding-top: 12em;
    font-size: 1em;
    padding-top: 15px;
    color: #fff;
} */
.hbanner span{
    color: #FAED26;
}
hr{
    margin-left: 39.6em;
    /* margin: 10px auto; */
    border-color: #fff;
    border-width: 1px;
    width: 80px;
}
.btn{
    font-size: 1em;
    color:#ffff;
    background:  #46344E;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 45px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 4px;
    background: #FAED26;
    color: #46344E;
}
.popular{
    margin: 0px;
    text-align: center;
    padding-top: 4em;
    letter-spacing: 0.5px;
    /* font-weight: 500; */
    font-size: x-large;
}
.container{
    height: 38em;
    width: 100%;
    /* background-color: #d6f818;  */
    display: flex;
    justify-content: space-between;
}
.col{
    height: 500px;
    width: 450px;
    /* background-color: red; */
    margin:auto 40px !important;
    display: block;
    margin-top: 30px;
}
.div{
    height: 242.5px;
    width:auto;
    /* background-color: aqua; */
    margin: 5px;
    display: block;
    justify-content: center;
}
.imgbooks{
    height: 242.5px;
    width: 180px;
    margin-left: 88px;
}
.booktitle{
    text-align: center;
    padding-top: 20px;
}
.bookpragraph{
    text-align: center;
    padding-top: 15px;
    /* font-size: large; */
    font-weight: 300;
    line-height: 1.3;
}
.readmorebtn{
    color: #111;
    background-color: #FAED26;
    padding: 5px 8px;
    border: none;
    outline: none;
    margin: 20px 130px;
    border-radius: 4px; 
    height: 30px;
}
.readmorebtn:hover{
    cursor: pointer;
}

#container{
    height: 30em;
    width: 100%;
    background-color: #e3e3e43d; 
    display: flex;
    justify-content: space-between;
}
.organization{
    margin: 0px;
    text-align: center;
    font-size: x-large;
    letter-spacing: 0.5px;
}
.orgparagraph{
    text-align: center;
    font-size: medium;
    font-weight: 300;
    padding-top: 10px;
    margin: 5px;
    line-height: 1.4;
}
.apple{
    height: 29.3em;
    width: 50%;
    margin: 5px;
    border-radius: 5px;
    /* background-color: #f2ebf5; */
}
.applepara1{
    color: #111;
    padding-left: 60px;
    padding-top: 60px;
}
.applepara2{
    text-align: justify;
    padding: 18px 60px 0px 60px;
    color: #111;
    line-height: 1.5;
}
.apple .studentspic{
    height: 350px;
    width: auto;
    margin: 50px 60px 0px 60px;
    background-image:url(../img/students.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    border: 4px solid white;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
#list{
    display: flex;
    justify-content: space-between;
    height: 10em;
    width: 100%;
    /* background-color: white; */
    padding: 30px 60px 0px 60px;
    list-style: none i!important;
}
.liststyle{
    list-style: none;
    line-height: 1.5;
}
.liststyle li::before {
    content: "✓";
    color: rgb(11, 162, 219);
    padding-right: 10px;
}
.a{
    text-decoration: none;
    color: black;   
}
.footer{
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
.footer:hover{
    color: #FAED26;
    letter-spacing: 1px;   
} 
#footer{
    height: 5em;
    width: 100%;
    background:  #46344E;
    text-align: center;
    padding: 2.2em;
    color: #fff;  
    margin-top: 20px; 
}







